* {
  padding: 0;
  margin: 0;
}
.container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header .icon-cart {
  position: relative;
}
header .icon-cart span {
  display: flex;
  width: 30px;
  height: 30px;
  background: red;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -40%;
  right: -90%;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}

.listProduct .item h2 {
  font-weight: 700;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button {
  background-color: #353432;
  color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
